.boxes{
    border:1px solid ghostwhite;
    width:40%;
    margin:10% auto;
    background-color: #f1f1f1;
    padding: 20px;

}
.input{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    margin:10px;
    padding:10px;
    box-sizing: border-box;
}
#button{
        color: #000;
        transition: all 0.3s ease 0s;
        text-transform: uppercase;
         letter-spacing: 2.5px;
         background-color:white;
         width:50%;
         box-sizing: border-box;
         margin:0 auto;
     
}
   
#button:hover {
        background-color: #2EE59D;
        box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
        color: #fff;
        transform: scale(1.01);
        cursor: pointer;
        }
.main{
    color:greenyellow;
    text-align: center;
    font-size: 40px;
    letter-spacing: 1.5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.input::placeholder{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.error{
    color:red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.back{
    text-decoration: none;
    color:aqua;
    right:10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.backbutton{
    width:10%;
    color:white;
    padding:10px;
    font-size: 20px;
    border-style: none;
    margin-left:90%;
}
@media(max-width:770px)
{
    #button{
        letter-spacing: unset;

    }
    .backbutton{
        margin-left:70%;
        width:30%;
    }
    

}