 body{
   background-image: linear-gradient(to right bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe);
   font-family: sans-serif;
   margin: 0;
   padding: 0;
}
.container{
    border: 1px solid black;
    margin:200px auto;
    padding:10px;
    width:30%;
    background-color:transparent;
    outline: none;
    border-style: none;
    box-shadow: 0 0 10px rgba(255,255,255,.3);
    border-radius: 10px;
    transition:0.5s;
}
.container:hover{
    box-shadow: 0 0 10px rgba(255,255,255,.3), 3px 3px 6px #08498a;
}
.user{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 110px;
    /*left: calc(50% - 50px); */
    transform:translateX(-50%);
    /*border:3px solid black;*/
    box-shadow:0px 0px 5px #ffffff90;
    border-radius:50%;
    padding:8px;
}
.form{

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:20px;
    color:white;
}

.input{
    box-sizing: border-box;
    margin:10px;
    border:1px solid black;
    border-radius: 10px;
    width:100%;
    border-style: none;
    outline: none;
    background-color: greenyellow;
    padding: 10px;
    color:black;
}

.button {
   
    color: #000;
    transition: all 0.3s ease 0s;
    text-transform: uppercase;
     letter-spacing: 2.5px;
     background-color:white;
     width:50%;
     border: 1px solid transparent; 
 
}

.button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    border:1px solid #11111140;
   /* transform: scale(1.1); */
    cursor: pointer;
   
  }

  .top{
      text-align: center;  
      margin-top:30px;
      color: white;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     }

     ::-webkit-input-placeholder { 
        color:black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }

      @media(max-width:770px)
      {
        
      .container{
          width:100%;
          margin:0 auto;
          outline: 0em;

      } 
      .form{
            width:50%;
      }
      .user{
          position: relative;

      }
                  
      }
      .already{
          text-decoration: none;
          color:white;
          margin:20px;
      }
      .already:hover{
          color:red;
      }

      .error{
          color:red;
      }

p{
    display:none;
    color:red;
    font-weight:bold;
}

.back{
    position: absolute;
    top:20px;
    right:40px;
    border:1px solid #08498a;
    padding:12px;
    line-height:15px;
    border-radius:8px;
    box-shadow:1px 1px 2px #222;
    transition:0.3s;
    cursor:pointer;
}

.back:hover{
    background:#2EE59D;
    color:#fff;

}

.back:active{
    transform:translateY(2px);
}

